{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>










<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Money to support your education</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Are your tuition fees paid by any of these?</h1>
      </header>

      <form action="whopays-handler" class="form" method="get">

        <fieldset class="form-group">

          <div class="multiple-choice multiple-radio">
            <input id="selfinance" name="tuitionfee" value="myself-pay" type="checkbox">
            <label for="selfinance"><span style="font-weight:100;">Myself / Self - finance
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="SFE" name="tuitionfee" value="sfe-pay" type="checkbox">
            <label for="SFE"><span style="font-weight:100;">Student Finance England (SFE)</span><br></label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="SFW" name="tuitionfee" value="sfw-pay" type="checkbox">
            <label for="SFW"><span style="font-weight:100;">Student Finance Wales (SFW)</span><br></label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="SAAS" name="tuitionfee" value="saas-pay" type="checkbox">
            <label for="SAAS"><span style="font-weight:100;">Student Awards Agency for Scotland (SAAS)</span><br></label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="NHS" name="tuitionfee" value="nhs-pay" type="checkbox">
            <label for="NHS"><span style="font-weight:100;">National Health Service (NHS)</span><br></label>
          </div>

          <p class="form-block">or</p>

          <div class="multiple-choice multiple-radio">
            <input id="NONE" name="tuitionfee" value="none-pay" type="checkbox">
            <label for="none"><span style="font-weight:100;">There are no tuition fees for my course</span><br></label>
          </div>

        
        </fieldset>
        
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>



      </form>

    </div>
  </div>
</main>

<script>
  var $others = $('input[name="tuitionfee"]').not('#NONE')
  
  $('#NONE').change(function () {
      if (this.checked) {
      $others.prop('checked', false)
      }
  });
  
  $others.change(function () {
      if (this.checked) {
      $('#NONE').prop('checked', false)
      }
  })
  </script>




{% endblock %}