{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Income and other money</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What is the source of money you live on while you are in education?</h1>
      </header>

      <form action="livingcost-handler" class="form" method="get">

        <p style="color:grey">Select all that apply for yourself</p>

        <fieldset class="form-group">

         
          <div class="multiple-choice multiple-radio">
              <input id="loanmaintenance" name="livingcost" value="loanmaintenance-help" type="checkbox">
              <label for="loanmaintenance"><span style="font-weight: bold;">Student finance loan or maintenance
                  grant</span><br><span style="font-size: 18px; margin-top: 5px; display: block; ">Support provided by
                  Student Finance England, Student Finance Wales or the Student Awards Agency for Scotland.</span></label>
            </div>
          <div class="multiple-choice multiple-radio">
            <input id="HEI" name="livingcost" value="HEI-help" type="checkbox">
            <label for="HEI"><span style="font-weight: bold;">Bursary from higher education institution (HEI)</span><br></label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="other" name="livingcost" value="other-help" type="checkbox">
            <label for="other"><span style="font-weight: bold;">Other scholarship, sponsorship, award or bursary</span><br></label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="overseas" name="livingcost" value="overseas-help" type="checkbox">
            <label for="overseas"><span style="font-weight: bold;">Grant or loan from overseas</span><br></label>
          </div>

          <div class="multiple-choice multiple-radio">
              <input id="NHS" name="livingcost" value="NHS-help" type="checkbox">
              <label for="NHS"><span style="font-weight: bold;">NHS bursary</span><br></label>
            </div>

            <div class="multiple-choice multiple-radio">
                <input id="parents" name="livingcost" value="parents-help" type="checkbox">
                <label for="parents"><span style="font-weight: bold;">Parents</span><br></label>
              </div>

          <p class="form-block">or</p>
          <div class="multiple-choice multiple-radio">
            <input id="none" name="livingcost" value="none-help" type="checkbox">
            <label for="none">No, I <span class="bold">do not</span> get any of these </label>
          </div>
        </fieldset>
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>



      </form>

    </div>
  </div>
</main>

{% endblock %}