{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>
    
    <div class="grid-row">
      <div class="column-two-thirds">

        <a class="link-back" href="javascript:history.go(-1)">Back</a>

        <header class="page-header">
          <p class="page-header--sub heading-secondary">Education and Training</p>
          <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">When does your course start for this academic year? </h1>
          
        </header>

        <form action="academic-iteration5b-handler" class="form" method="get">
        
          
              <p class="form-hint">Contact your college or university if you do not know the dates.  </p>
         
              <fieldset class="form-group">

              <label class="form-label-bold" for="start-date" id="start-date-label">Start date</label>
             
            <legend class="visuallyhidden">Start date</legend>
            <p class="form-hint">For example, 13 12 2019 </p>

            
            <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="dob-day">Day</label> <input class="form-control" id="dob-day" max="31" min="0" name="dob-day" pattern="[0-9]*" type="number">
                </div>

                <div class="form-group form-group-month">
                    <label for="dob-month">Month</label> <input class="form-control" id="dob-month" max="12" min="0" name="dob-month" pattern="[0-9]*" type="number">
                  </div>

                  <div class="form-group form-group-year">
                      <label for="dob-year">Year</label> <input class="form-control" id="dob-year" min="0" name="dob-year" pattern="[0-9]*" type="number">
                    </div>
              </div>
          </fieldset>

          

            <div class="form-group">
                <input class="button" type="submit" value="Continue">
                
            </div>

        </form>

      </div>
    </div>

</main>

{% endblock %}
