{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block content %}
<style>
  #capitalize::first-letter {
    text-transform: uppercase;
  }
</style>
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Apply for help with NHS costs</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Check your answers</h1>
      </header>

<!-- PUT MONTH SPELLING IN DATES -->


      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Education and training
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">

        <!-- What qualification -->
        <div>
          <dt class="cya-question">
            Name of course
          </dt>
          <dd class="cya-answer">
            <p> University of Northumbria</p>
                
             <!--{{ data['course'] }} -->
            
          </dd>
          <dd class="cya-change">
            <a class="link-right" href="name-of-establishment.html">
              Change<span class="visually-hidden">Uni</span>
            </a>
          </dd>
        </div>
        <!-- /. -->

        <!-- What qualification -->
        <div>
          <dt class="cya-question">
            Qualification 
          </dt>
          <dd class="cya-answer">
            <p> 
                
             {{ data['course'] }} 
            
          </dd>
          <dd class="cya-change">
            <a class="link-right" href="name-of-course.html">
              Change<span class="visually-hidden">Uni</span>
            </a>
          </dd>
        </div>
        <!-- /. -->
      

          <div>
            
          <dt class="cya-question">
             Overseas student
          </dt>
          <dd class="cya-answer">
             
            <p>
            {% if data['overseas'] == "no" %}
            No
            {% endif %}
            {% if data['overseas'] == "yes" %}
            Yes
            {% endif %}
          </dd>
          <dd class="cya-change">
            <a class="link-right" href="overseas-student.html">
              Change<span class="visually-hidden">Uni</span>
            </a>
          </dd>
        
        </div>
       
        <!-- start date -->
        <div>
            
          <dt class="cya-question">
              Start date
          </dt>
          <dd class="cya-answer">
          <p>
            {{ data['sum-end-day'] }}.{{ data['sum-end-month'] }}.{{ data['sum-end-year'] }}
          </dd>
          <dd class="cya-change">
            <a class="link-right" href="academic-start.html">
              Change<span class="visually-hidden">Uni</span>
            </a>
          </dd>
        </div>
        <!-- /. -->

        
        <div>

            
              <dt class="cya-question">
                  Christmas holidays
              </dt>
              <dd class="cya-answer">
                  Breaks on  : {{ data['xmas-br-day'] }}.{{ data['xmas-br-month'] }}.{{ data['xmas-br-year'] }} <br>
                  Return on  : {{ data['xmas-end-day'] }}.{{ data['xmas-end-month'] }}.{{ data['xmas-end-year'] }}
                <p> 
              </dd>
              <dd class="cya-change">
                <a class="link-right" href="christmas-break.html">
                  Change<span class="visually-hidden">Uni</span>
                </a>
              </dd>
            
            </div>
           
  
            <div>
            
                <dt class="cya-question">
                    Easter holidays
                </dt>
                <dd class="cya-answer">
                  Breaks on  : {{ data['east-br-day'] }}.{{ data['east-br-month'] }}.{{ data['east-br-year'] }} <br>
                  Return on  : {{ data['east-end-day'] }}.{{ data['east-end-month'] }}.{{ data['east-end-year'] }}
                  <p> 
                </dd>
                <dd class="cya-change">
                  <a class="link-right" href="easter-break.html">
                    Change<span class="visually-hidden">Uni</span>
                  </a>
                </dd>
              
              </div>

  
              <div>
            
                  <dt class="cya-question">
                      Summer holidays
                  </dt>
                  <dd class="cya-answer">
                  Breaks on  : {{ data['sum-br-day'] }}.{{ data['sum-br-month'] }}.{{ data['sum-br-year'] }} <br>
                  Return on  : {{ data['sum-end-day'] }}.{{ data['sum-end-month'] }}.2020
                    <p>
                  <!-- Should overseas question be displayed? --> 
                  </dd>
                  <dd class="cya-change">
                    <a class="link-right" href="academic-start.html">
                      Change<span class="visually-hidden">Uni</span>
                    </a>
                  </dd>
                
                </div>

                <div>
            
                  <dt class="cya-question">
                      Final year
                  </dt>
                  <dd class="cya-answer">
                  <p>
                  {% if data['finalyear'] == "no" %}
                  No
                  {% endif %}
                  {% if data['finalyear'] == "yes" %}
                  Yes
                  {% endif %} 
                  </dd>
                  <dd class="cya-change">
                    <a class="link-right" href="#">
                      Change<span class="visually-hidden">Uni</span>
                    </a>
                  </dd>
                </div>
              
               

        
    
       
        <br>
        
        <div class="form-group">

            <a href="task-list-r6.html" style="border-bottom: none"> <input class="button" type="submit" value="Next"></a>

    </div>
  </div>
</main>

{% endblock %}