{% extends "layout_bsa.html" %}

{% block page_title %}
    HC2 certificate for full help with health costs, ref 2-23456789
{% endblock %}

{% block header_content %}
{% endblock %}

{% block content %}
<link href="/public/css/moj.css" media="screen" rel="stylesheet" type="text/css">
<style>
    .govuk-inset-text {
        border-left: 10px solid #005EB8;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.25;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        clear: both;
    }

    #global-header,
    footer {
        display: none;
    }

    .email-border {
        border: 1px solid #ddd;
        margin: 20px 0px;
    }

    .email-logo {
        height: auto;
        width: 110px;
        margin-top: 20px;
    }

    strong {
        font-weight: bold;
    }
</style>
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds email-border">
            <img src="/public/images/nhs-logo.png" alt="NHS Logo" class="email-logo">
            
            <h1 class="heading-large">HC2 Certificate for full help with health costs</h1>

            <div class="govuk-inset-text">
                <span>Certificate number:</span> 2-23456789<br><br>
                You will need to quote your certificate number if you have to contact us.<br><br>
                <span>Valid from:</span> DATE<br>
                <span>Valid to:</span> DATE<br>
                <span>For:</span> NAME, NAME (partner's name, if applicable)
            </div>

            <p>Dear NAMEHERE,</p>

            <p>This email is your HC2 certificate for full help with health costs. </p>
            <p>Using the information you gave us in your HC1 claim for help with health costs, we have worked out that you are entitled to:</p>

            <ul class="list list-bullet">
                <li>free NHS prescriptions</li>
                <li>free NHS dental treatment</li>
                <li>free NHS sight tests</li>
                <li>the full value of a voucher towards the cost of glasses and contact lenses</li>
                <li>free NHS wigs and fabric supports</li>
                <li>refund of necessary costs of travel to receive NHS treatment (please read the note below before you travel)</li>
            </ul>

            <p>Your partner is also covered if they are named on the certificate. It also covers any dependent children under 19 who normally live with you.</p>
            <p><strong>You should keep this email available on your phone or print it out. You need to show it when you need any of the things listed above.</strong></p>
        
            <h2 class="heading-large">Using this certificate</h2>
            <p>This certificate does not entitle you to NHS treatment. It entitles you to help with health costs if you have been accepted for NHS treatment.</p>
            
            <h3 class="heading-medium">Free NHS prescriptions</h3>
            <p>Before you give your prescription to the pharmacist:</p>
            
            <ul class="list list-bullet">
                <li>fill in the back of the prescription form to say why you do not have to pay</li>
                <li>sign the prescription form</li>
                <li>you will be asked to show evidence of your entitlement to free prescriptions. Please show this certificate to your pharmacist or dispensing doctor.</li>
            </ul>

            <h3 class="heading-medium">Free NHS dental treatment</h3>
            <p>Show this certificate to your dentist and write its number on the form that the dentist asks you to sign. Dental examinations are free to all in Scotland - you do not need to show this certificate.</p>
            
            <h3 class="heading-medium">Free NHS sight tests</h3>
            <p>When you go for your sight test show this certificate and tell your optician that you are entitled to a free NHS sight test. You will be given form GOS1 to fill in to apply for your free sight test. You will not get one unless you show your HC2 certificate at the sight test. Sight tests are free to all in Scotland.</p>
            
            <h3 class="heading-medium">Glasses and contact lenses</h3>
            <p>If you need new glasses or contact lenses, help with the cost is provided through NHS optical vouchers. The value of your voucher will depend on your prescription. The person who tests your sight will be able to tell you how much this is. You can normally use your voucher at any optician, though not all opticians fit contact lenses. This certificate entitles you to the full value of an NHS optical voucher.</p>
            <p>If you need new glasses or contact lenses:</p>

            <ul class="list list-bullet">
                <li>use form GOS1 to apply for an NHS optical voucher when you apply for your sight test</li>
                <li>when you use your voucher show this certificate to whoever supplies your glasses or contact lenses</li>
                <li>if your glasses or contact lenses cost the same as or less than the value of the voucher you will have to pay nothing, otherwise you will have to pay the difference.</li>
            </ul>

            <p>If you lose or damage your glasses or contact lenses:</p>

            <ul class="list list-bullet">
                <li>children under 16 are entitled to a voucher for replacement or repair</li>
                <li>you and anyone aged 16 or over might be entitled to a voucher to replace or repair glasses or contact lenses. See leaflet HC11 (HCS1 in Scotland) 'Help with health costs' to find out more - you can download one from: <a href="www.nhsbsa.nhs.uk/nhs-low-income-scheme">www.nhsbsa.nhs.uk/nhs-low-income-scheme</a>.</li>
            </ul>

            <h3 class="heading-medium">Free NHS wigs and fabric supports</h3>
            <p>Show this certificate to the person who fits the NHS wig or fabric support for you.</p>

            <h3 class="heading-medium">Travel to receive NHS treatment</h3>
            <p>You can get help with the cost of your journey if you need to travel:</p>

            <ul class="list list-bullet">
                <li>in England and Wales to receive NHS treatment under the care of a consultant, or through a referral by a doctor or dentist</li>
                <li>in Scotland to a hospital to receive NHS treatment</li>
            </ul>

            <p>In England and Wales, if you are referred by a doctor or dentist to the same premises but on a different day you can claim for that travel cost.</p>
            <p>Tell someone at the place you are treated that you want to claim help with the cost of your journey and show this certificate. In some cases, you may need to claim using form HC5. If for medical reasons you need someone to travel with you, their travel costs are counted with yours.</p>
            <p>You can only get money back for costs that are necessary for your journey. If you are not sure, check before you travel. See leaflet HC11 (HCS1 in Scotland) to find out more - you can download one from: <a href="www.nhsbsa.nhs.uk/nhs-low-income-scheme">www.nhsbsa.nhs.uk/nhs-low-income-scheme</a>.</p>
        
            <h2 class="heading-large">Renew your certificate</h2>
            <p>To renew your certificate, reapply online by visiting <a href="www.nhsbsa.nhs.uk/nhs-low-income-scheme">www.nhsbsa.nhs.uk/nhs-low-income-scheme</a>. Alternatively, complete another paper HC1 form. They are available from a Job Centre Plus office, NHS hospital or from the web page above. Some dentists, opticians or doctor's surgeries also have them.</p>
            <p>Send us your application about 4 weeks before this certificate runs out. Check the 'valid to' date at the top of this certificate to see when it runs out.</p>
            <p>If you apply for and receive a new certificate before this one runs out, you can use whichever one gives you most help. You don't have to use the new one straight away.</p>

            <h2 class="heading-large">Contact us</h2>
            <p>If you need to contact us, always quote your current certificate number and the 'valid from' date above.</p>
            <p>If you have any queries about your claim, call us on 0300 330 1343 or use our online form at <a href="https://faq.nhsbsa.nhs.uk/contact-us/">https://faq.nhsbsa.nhs.uk/contact-us/</a></p>
            <p><strong>We can only give information about your claim to another person with your permission.</strong></p>
            <p><strong>Improper use of this certificate may lead to prosecution.</strong></p>
        </div>
    </div>
</main>

{% endblock %}