{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            This is a new service
            <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="page-header">
                <p class="page-header--sub heading-secondary">Personal details</p>

                <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">
                    What is Joe's address?
                </h1>

                <span class="form-hint">
                    Joe's address will be used for verification of their details. Their help with help costs
                    certificate, if they are eligible, will be sent by email. We do not send certificates in the post for online applications.
                </span>
                <br>
                <p class="form-hint">If they want a paper certificate, <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme" target="_blank">see our website for other ways to apply (opens in a new tab)</a>.</p>

                <br>
            </header>

            <form action="#" class="form">
                <div class="form-group">
                    <label class="form-label" for="add1">Address line 1</label>
                    <input class="form-control" id="add1" name="add1" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="add2">Address line 2 (optional)</label>
                    <input class="form-control" id="add2" name="add2" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="town">Town or city (optional)</label>
                    <input class="form-control" id="town" name="town" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="postcode">Postcode</label>
                    <input class="form-control" id="postcode" name="postcode" type="text">
                </div>

                <details>
                    <summary><span class="summary">I don't know what address to use</span></summary>
                    <br>
                    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

                        <p style="font-weight: bold;">If Joe has more than one address</p>
                        <p>
                            You should use the address that Joe's GP or dentist holds for them. For example, if Joe is a
                            student living away from home, this could be their home or term time address.
                        </p>

                        <p style="font-weight: bold;">If Joe don't have a permanent address</p>

                        <p>
                            If Joe is homeless and living in temporary accommodation (for example, a long term hostel),
                            you should use the address that their GP or dentist holds for them.
                        </p>
                    </div>


                </details>
                <br>
                <button class="button" type="submit">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}