{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">While you're waiting on your Universal Credit decision</h1>
      </header>

      <p>Until your first assessment period is complete, Universal Credit doesn't entitle you to help with NHS costs.
        <br><br>
        If you need to pay for any NHS charges, for example, prescriptions or dental treatment, make sure you get a receipt and ask how you can claim a refund.
        <br><br>
        If you pay for a prescription, ask for a refund receipt called an FP57 when you pay - you can't get one later.</p>

        <div class="form-group">
          <a href="single-benefits-list.html"><input class="button" type="submit" value="Next" id="next-button"></a> 
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}