{% extends "layout_bsa.html" %}
 
{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="done-panel">
          <h1 class="heading-xlarge"><span id="done-tick"></span>Application received</h1>
          <h2 class="heading-large"><span class="heading-secondary" style="color: white;">Reference number</span> K5G-V78</h2>
        </div>

        <h2 class="heading-medium">What happens next</h2>
        <p>You’ll get an email from us within the next 24 hours confirming we’ve received your application.</p>
        <p>We’ll assess your application and let you know the outcome by email. Please check your junk and spam folders.</p>
        <p>You are not eligible for free NHS prescriptions or treatment until you receive an outcome from us confirming your eligibility. This can take up to 15 working days.</p>

        <h3 class="heading-small">How to apply for a refund</h3>
        <p>If you pay NHS prescription charges then find out later that you’re entitled to free prescriptions you may be able to claim a refund.</p>
        <p>You’ll need to ask your pharmacist for an FP57 refund receipt when you pay as you can’t get one later. Find out more about <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs">how to claim a refund</a>.</p>

        <h3 class="heading-small">Contact us</h3>
        <p>If you need help you can contact us by telephone on: 0300 330 1343.</p>
        <p>We’re open 8am to 6pm Monday to Friday, and 9am to 3pm on Saturday. Find out more about <a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers">call charges</a>.</p>

      </div>
    </div>

  </main>

{% endblock %}
