{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span>&nbsp;- your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  
    <div class="grid-row">
      <div class="column-two-thirds">
      
          <header class="page-header">
              <p class="page-header--sub heading-secondary">Save an application</p>
              <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">Check your email</h1>
              <p>We've sent an email to <span style="font-weight:bold">{{ data['emailsave'] }}</span></p>
                <p>This can take few minutes to arrive.</p>
           
            <h2 class="heading-medium">What happens next</h2>
              <p>  Follow the link emailed to you to save and continue with your appplication. </p>
      
              <p>This is to confirm this email address belongs to you.</p>
            
            </header>

       
      

        <br>
     

          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
            
              <span><a href="#">Resend verification email</a></span>
              <br>
              <br>
              <span></span><a href="#">Use a different email address</a>
          </div>

       
<br>
<br>

   
          <div style="background-color:#dee0e2; padding:20px 40px;">
              <h3 class="heading-small">PROTOTYPE ONLY</h3>
              
              <p><a href="application-saved">User clicked on email sent and verified their email</a></p>
            </div>
    

        
         
        </div>
      </div>
    </div>

</main>

{% endblock %}