{% extends "layout_bsa.html" %}
<style>
  ol.steps .instruction-list-item-extra-information {
    margin-left: 1.57895em;
  }
</style>

{% block page_title %}
Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
  .task-in-progress {
    background: #6F777B !important;
  }

  .secondary-button {
    background-color: #005EA5;
  }

  .secondary-button:hover,
  .secondary-button:focus {
    background-color: #00458C;
  }

  .secondary-button.disabled:hover,
  .secondary-button[disabled="disabled"]:hover,
  .secondary-button[disabled]:hover {
    background-color: #005EA5;
  }
</style>

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <div class="heading-group">
        <p>Apply for help to pay NHS costs</p>
        <h1 class="heading-xlarge">Your application</h1>
      </div>

      <p>You can’t send the application until you have completed all the sections.</p>
      <p style="margin-bottom: 50px;">To work out what help you can get, we need information about your housing costs and income.</p>



        <h2 class="task-list-section"><span class="task-list-section-number">1.</span> Check before you start</h2>
        <ul class="task-list-items">
          <li class="task-list-item" style="border-top: 1px solid #bfc1c3;">
            <a aria-describedby="check-completed" class="task-name" href="#">Check eligibility</a> <strong
              class="task-completed" id="check-completed">Completed</strong>
          </li>
        </ul>



        <h2 class="task-list-section"><span class="task-list-section-number">2.</span> About you</h2>
        <ul class="task-list-items">
          <li class="task-list-item">
            <a aria-describedby="personal-completed" class="task-name" href="#">Personal details</a> <strong
              class="task-completed" id="personal-completed">Completed</strong>
          </li>
          <li class="task-list-item">
            <a aria-describedby="contact-completed" class="task-name" href=#>Contact details</a> <strong class="task-completed"
              id="contact-completed">Completed</strong>
            </li>

            <li class="task-list-item">
              <a aria-describedby="edu-completed" class="task-name" href='name-of-establishment.html'>Education and training</a> <strong class="task-completed"
                id="edu-completed">Completed</strong></a>
              </li>

          
        </ul>


        <h2 class="task-list-section"><span class="task-list-section-number">3.</span> About your income</h2>
        <ul class="task-list-items">
          <li class="task-list-item">
            <a aria-describedby="edu-money-completed" class="task-name" href='../money-support-edu/who-pays.html'>Money to support your education</a> <strong
                class="task-completed" id="edu-money-completed" style="background-color: transparent; color: #005ea5; border: 3px solid #005ea5;">To do</strong></a>
          </li>
        </ul>


        <h2 class="task-list-section"><span class="task-list-section-number">4.</span> About your home</h2>
        <ul class="task-list-items">

          <li class="task-list-item">
            Where you live <strong class="task-completed" id="where-live-completed"
              style="background-color: #dee0e2; color: #626262;">Can't start yet</strong>
          </li>
          <li class="task-list-item">
            People who live with you <strong class="task-completed" id="people-live-completed"
              style="background-color: #dee0e2; color: #626262;">Can't start yet</strong>
          </li>
        </ul>



        <h2 class="task-list-section"><span class="task-list-section-number">5.</span> Submit application</h2>
        <div style="padding-left: 35px; margin-top: 1em">
          <!-- <a href="/apply/submit/iteration-2/declaration"><input class="button" disabled type="submit" value="Send"></a> -->
          <input class="button" disabled type="submit" value="Submit" />
        </div>


    </div>
  </div>

</main>

{% endblock %}