{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Money to support your education</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Who gives you money to help with your day-to-day living costs?</h1>
      </header>


      <form action="contributiontypeiteration6-handler" method="get" class="form">

        <div class="form-group">

          <fieldset>
            <legend class="visually-hidden">
            </legend>

            <p> You do not need to include money you get to pay your tuition fees. <br> Select all that apply.</p> 

            <div class="multiple-choice multiple-radio">
              <input id="no" type="checkbox" name="contributiontype" value="parents">
              <label for="no"><p style="margin-bottom: 7px;">Parents</p></label>
            </div>
            
            <div class="multiple-choice multiple-radio">
              <input id="rel" type="checkbox" name="contributiontype" value="relatives">
              <label for="rel"><p style="margin-bottom: 7px;">Other relatives</p></label>
            </div>

            <div class="multiple-choice multiple-radio">
                <input id="not-yet" type="checkbox" name="contributiontype" value="friends">
                <label for="not-yet"><p style="margin-bottom: 7px;">Friends</p></label>
            </div>           

            <div class="multiple-choice multiple-radio">
              <input id="none" type="checkbox" name="contributiontype" value="none">
              <label for="none"><p style="margin-bottom: 7px;">None of the above</p></label>
          </div>  


          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}