{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>










<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Where you live</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Which energy bills are included in your rent?</h1>
        <p>Select all that apply.</p>
      </header>

      <form action="energytype-iteration7b-handler" class="form" method="get">

        <fieldset class="form-group">

          <div class="multiple-choice multiple-radio">
            <input id="heating" name="energytype" value="heating" type="checkbox">
            <label for="heating"><span class ='bold'>Heating 
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="lighting" name="energytype" value="lighting" type="checkbox">
            <label for="lighting"><span class ='bold'>Lighting</span><br></label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="cooking" name="energytype" value="cooking" type="checkbox">
            <label for="cooking"><span class ='bold'>Cooking<br><p hint>This is the energy used to cook food. For example, in a microwave or oven.</p></span></label>
          </div>

          <div class="multiple-choice multiple-radio">
            <input id="hotwater" name="energytype" value="hotwater" type="checkbox">
            <label for="hotwater"><span class ='bold'>Hot water</span></label>            
          </div>

          <p>or</p>

          <div class="multiple-choice multiple-radio">
            <input id="none" name="energytype" value="none" type="checkbox">
            <label for="none"><span class ='bold'>None of these are included</span><br></label>
          </div>
          <span class="bold">
         
          


        
        </fieldset>
        
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>



      </form>

    </div>
  </div>
</main>

<script>
  var $others = $('input[name="tuitionfee"]').not('#NONE')
  
  $('#NONE').change(function () {
      if (this.checked) {
      $others.prop('checked', false)
      }
  });
  
  $others.change(function () {
      if (this.checked) {
      $('#NONE').prop('checked', false)
      }
  })
  </script>




{% endblock %}