{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Where you live</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Do you know when your tenancy ends?</h1>
      </header>
<p>You can find this date in your tenancy agreement. </p>
      

      <form action="typeenddate-iteration7b-handler" method="get" class="form">

        <div class="form-group">
          
            <legend class="visually-hidden">
            </legend>
            <div class="multiple-choice">
              <input id="yes" type="radio" name="typeenddate" value="yes">
              <label for="yes" style="line-height:1.415789477;">
                <span >Yes</span>
                
            </div>
          
            <div class="multiple-choice" style="margin-top:15px;">
              <input id="no" type="radio" name="typeenddate" value="no">
              <label for="no" style="line-height:1.415789477;"><span>No, I have a rolling contract</span>
            </div>
          
        </div>




      

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}