{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service - your <a href="#">feedback</a> will help us to improve it.
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Education and training</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What is the name of your course at The University of Northumbria?</h1>
      
      </header>

      <p>Tell us the full name of your course including the qualification level. <br>
        For example, BA (Hons) in English Literature or NVQ Level 3 Health and Social Care</p>
      
    
      
      <form action="nameofcourse-iteration6-2-handler" method="get" class="form">
    
  
            
         
            <div class="form-group">
          <input class="form-control" id="course" name="course" type="text" aria-label="Course name">
            
          </div>
     

        <div class="form-group">
            <input class="button" type="submit" value="Next">
        </div>



      </form>

    </div>
  </div>
</main>
</main>

{% endblock %}