{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service - your <a href="#">feedback</a> will help us to improve it.
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Continue a saved application</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Enter the phone number you provided</h1>
      </header>

      <form action="enterphonenumber-handler" method="get" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend class="visually-hidden">Enter the mobile number you provided</legend>
              
              <!--  <span class="heading-medium">£</span>  -->
              <input class="form-control form-control-1-5" id="namefield" name="enterphonenumber" type="text" aria-label="enter your phone number">

          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit"
            value="Continue"></a>
          <!-- <input class="button" type="submit" value="Next"> -->
        </div>

        <br>
        <hr>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p><strong style="font-weight: bold;">** PROTOTYPE ONLY ** </strong>
            <br>
            <br>
            The screen the user will see if they try to return to their application AFTER 7 days can be seen
            <strong style="font-weight: bold;"> <a href="../continue-application/returned-after-7-days.html">here.</strong></a></p>
          <p>The screen the user will see if they enter their phone number wrongly 3 times can be seen
              <strong style="font-weight: bold;"> <a href="../continue-application/wrong-phone-3-attempts.html">here.</strong></a></p>
        </div>


      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}